@import "variables";

.content {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
  padding: 4rem 7%;
  background-color: $dark-gray;

  &__card {
    margin-top: 4rem;
    background-color: rgb(40, 40, 40);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    padding: 3rem;
  }

  &__project {
    display: grid;
    margin: 1.5rem 0;

    &--flex {
      place-self: center;
      display: flex;
      gap: 3rem;
    }

    &--btn {
      margin: 1rem 0;
      display: grid;
      place-items: center;
      background-color: $dark-gray;
      text-transform: uppercase;
      color: $bone-white;
      border-radius: 1rem;
      min-width: 12rem;
      font-size: 1.5rem;
      font-weight: 600;
      height: 5rem;
      border: none;
      cursor: pointer;
      transition: 500ms ease-in-out;

      &:hover {
        background-color: lighten($dark-gray, 20%);
      }
    }

    img {
      margin: 2rem 0;
      max-width: 100%;
      height: auto;
    }

    p {
      margin: 1rem 0;
    }
    span {
      color: lighten($orange, 10%);
    }

    h3 {
      place-self: center;
    }
  }

  h1,
  h2,
  h3 {
    color: $bone-white;
  }

  p {
    color: $light-gray;
  }
}

// .content {
//   background-color: $dark-gray;
//   padding-top: 5rem;

//   &__main {
//     display: grid;
//     gap: 3rem;
//     grid-template-columns: 2fr 3.2fr 3.2fr;
//     padding: 1% 6% 5%;
//   }

//   &__card {
//     height: 40rem;
//     border-radius: 3rem;
//     border: 2px solid rgb(104, 104, 104);
//   }

//   &__info {
//     background-color: $bone-white;
//     border-radius: 3rem;
//     height: 100%;
//     width: 100%;
//     padding: 2rem;
//     transform: translate(5%, -5%);

//     &:hover {
//       transform: translate(0%, 0%);
//       transition: all 0.5s;
//     }

//     &--tech {
//       font-size: 2rem;
//     }
//   }
// }
