@import "variables";

.hero {
  background-color: $dark-gray;
  display: grid;
  grid-template-columns: 2fr 3fr;
  margin-bottom: -0.1rem;
  height: 90vh;
  min-height: 57rem;
  max-height: 70rem;

  @media (max-width: $mobile) {
    height: fit-content;
    grid-template-columns: 1fr;
    margin-bottom: -7rem;
  }

  h1 {
    color: $bone-white;
  }

  h2 {
    color: $mid-gray;
  }

  p {
    margin-top: 5rem;
    color: $light-gray;
    @media (max-width: $mobile) {
      margin-top: 2rem;
    }
  }

  &__black {
    margin-top: 14rem;
    position: relative;
    padding: 0 6vw;
    min-width: 450px;

    @media (max-width: $desktop) {
      margin-top: 10rem;
      padding: 0 5vw;
    }

    @media (max-width: $mobile) {
      padding: 0 5vw;
      min-width: 0;
    }
  }

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__white {
    background-color: $bone-white;
    border-radius: 0 0 0 2rem;
    position: relative;
    @media (max-width: $mobile) {
      height: 20rem;
      width: 100vw;
      border-radius: 2rem;
      top: -10rem;
      right: -11rem;
    }

    img {
      margin-top: 70rem;
      position: absolute;
      height: 70rem;

      @media (max-width: $desktop) {
        left: 2vw;
      }
      @media (max-width: $mobile) {
        margin-top: 20rem;
        height: 20rem;
        padding-left: 2rem;
      }
    }

    &--engineer {
      animation: 1000ms pageLoad--right ease-out 700ms;
      pointer-events: none;
    }

    &--pc {
      animation: 800ms pageLoad--up ease-in 700ms;
      pointer-events: none;
    }

    &--screen {
      animation: 800ms pageLoad--up ease-in 700ms;
      transform: translate(0, 0);
      transition: all 0.3s ease-in;
      &:hover {
        transform: translate(-2vw, 0.5vw);
        transition: all 0.6s ease-in-out;
      }
    }
  }

  &__social {
    margin-top: 4rem;
    display: flex;
    font-size: 2.8rem;
    gap: 2rem;

    @media (max-width: $mobile) {
      flex-direction: column;
      padding-left: 2rem;
    }

    li {
      background-color: $deep-blue;
      width: 4rem;
      height: 4rem;
      border-radius: 1rem;
      text-align: center;
      color: $dark-gray;
      &:hover {
        color: lighten($dark-gray, 10%);
      }
    }
  }
}

@keyframes pageLoad--right {
  0% {
    visibility: hidden;
    opacity: 0;
    transform: translateX(-60px);
  }
  100% {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes pageLoad--up {
  0% {
    visibility: hidden;
    opacity: 0;
    transform: translateY(20px);
  }
  60% {
    visibility: visible;
    opacity: 1;
    transform: translateY(-20px);
  }
  70% {
    visibility: visible;
    opacity: 1;
    transform: translateY(-20px);
  }
  100% {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}
