@import "variables";

.navbar {
  position: absolute;
  padding: 2.5% 6%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 4rem;
  width: 100%;
  z-index: 1;

  &__logo {
    display: flex;
    gap: 1rem;
    &--image {
      font-size: 1.5rem;
      //   display: flex;
      text-align: center;
      padding-top: 0.5rem;
      width: 3.5rem;
      height: 3.5rem;
      background-color: $bone-white;
      border-radius: 50%;
    }
  }

  h3 {
    color: $bone-white;
    place-self: center;
    padding-left: 0;
  }

  &__btn {
    justify-self: end;
    background-color: $dark-gray;
    color: $bone-white;
    border-radius: 2rem;
    min-width: 12rem;
    border: none;
    cursor: pointer;

    &:hover {
      background-color: lighten($dark-gray, 20%);
    }
  }
}
