.hero {
  background-color: #17191c;
  display: grid;
  grid-template-columns: 2fr 3fr;
  margin-bottom: -0.1rem;
  height: 90vh;
  min-height: 57rem;
  max-height: 70rem;
}
@media (max-width: 750px) {
  .hero {
    height: -moz-fit-content;
    height: fit-content;
    grid-template-columns: 1fr;
    margin-bottom: -7rem;
  }
}
.hero h1 {
  color: #dbd4ca;
}
.hero h2 {
  color: #5b5c5e;
}
.hero p {
  margin-top: 5rem;
  color: #7e8082;
}
@media (max-width: 750px) {
  .hero p {
    margin-top: 2rem;
  }
}
.hero__black {
  margin-top: 14rem;
  position: relative;
  padding: 0 6vw;
  min-width: 450px;
}
@media (max-width: 1250px) {
  .hero__black {
    margin-top: 10rem;
    padding: 0 5vw;
  }
}
@media (max-width: 750px) {
  .hero__black {
    padding: 0 5vw;
    min-width: 0;
  }
}
.hero__image {
  display: grid;
  place-items: center;
}
.hero__white {
  background-color: #dbd4ca;
  border-radius: 0 0 0 2rem;
  position: relative;
}
@media (max-width: 750px) {
  .hero__white {
    height: 20rem;
    width: 100vw;
    border-radius: 2rem;
    top: -10rem;
    right: -11rem;
  }
}
.hero__white img {
  margin-top: 70rem;
  position: absolute;
  height: 70rem;
}
@media (max-width: 1250px) {
  .hero__white img {
    left: 2vw;
  }
}
@media (max-width: 750px) {
  .hero__white img {
    margin-top: 20rem;
    height: 20rem;
    padding-left: 2rem;
  }
}
.hero__white--engineer {
  animation: 1000ms pageLoad--right ease-out 700ms;
  pointer-events: none;
}
.hero__white--pc {
  animation: 800ms pageLoad--up ease-in 700ms;
  pointer-events: none;
}
.hero__white--screen {
  animation: 800ms pageLoad--up ease-in 700ms;
  transform: translate(0, 0);
  transition: all 0.3s ease-in;
}
.hero__white--screen:hover {
  transform: translate(-2vw, 0.5vw);
  transition: all 0.6s ease-in-out;
}
.hero__social {
  margin-top: 4rem;
  display: flex;
  font-size: 2.8rem;
  gap: 2rem;
}
@media (max-width: 750px) {
  .hero__social {
    flex-direction: column;
    padding-left: 2rem;
  }
}
.hero__social li {
  background-color: #284256;
  width: 4rem;
  height: 4rem;
  border-radius: 1rem;
  text-align: center;
  color: #17191c;
}
.hero__social li:hover {
  color: #2e3238;
}

@keyframes pageLoad--right {
  0% {
    visibility: hidden;
    opacity: 0;
    transform: translateX(-60px);
  }
  100% {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes pageLoad--up {
  0% {
    visibility: hidden;
    opacity: 0;
    transform: translateY(20px);
  }
  60% {
    visibility: visible;
    opacity: 1;
    transform: translateY(-20px);
  }
  70% {
    visibility: visible;
    opacity: 1;
    transform: translateY(-20px);
  }
  100% {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}
.navbar {
  margin-top: 2rem;
  position: absolute;
  padding: 2.5% 6%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 4rem;
  width: 100%;
  max-width: 160rem;
  z-index: 1;
}
.navbar__logo {
  display: flex;
  gap: 1rem;
}
.navbar__logo--image {
  font-size: 1.7rem;
  text-align: center;
  padding-top: 0.6rem;
  width: 3.5rem;
  height: 3.5rem;
  background-color: #dbd4ca;
  border-radius: 50%;
}
.navbar h3 {
  color: #dbd4ca;
  place-self: center;
  padding-left: 0;
}
.navbar__btn {
  font-family: inherit;
  justify-self: end;
  display: grid;
  place-items: center;
  background-color: #17191c;
  color: #dbd4ca;
  border-radius: 2rem;
  min-width: 12rem;
  border: none;
  cursor: pointer;
  transition: 500ms ease-in-out;
  font-size: 1.5rem;
}
@media (max-width: 750px) {
  .navbar__btn {
    background-color: #454b54;
  }
}
.navbar__btn:hover {
  background-color: #454b54;
}

.content {
  display: grid;
  grid-template-columns: 1.15fr 2fr;
  gap: 2rem;
  padding: 3rem 10%;
  background-color: #17191c;
}
@media (max-width: 1000px) {
  .content {
    grid-template-columns: none;
    display: flex;
    flex-direction: column-reverse;
  }
}
@media (max-width: 500px) {
  .content {
    padding: 10rem 5%;
  }
}
.content__card {
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 4rem;
  background-color: #1e2124;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  border-radius: 2rem;
  padding: 3vw;
}
.content__project {
  display: grid;
  margin: 1.5rem 0;
}
.content__project--flex {
  place-self: center;
  display: inline-flex;
  flex-wrap: wrap;
  place-content: center;
  gap: 1vw;
}
.content__project--btn {
  margin: 1rem 0;
  display: grid;
  place-items: center;
  background-color: #17191c;
  text-transform: uppercase;
  color: #dbd4ca;
  border-radius: 1rem;
  min-width: 12rem;
  font-size: 1.5rem;
  font-weight: 600;
  height: 5rem;
  border: none;
  cursor: pointer;
  transition: 500ms ease-in-out;
}
.content__project--btn:hover {
  background-color: #454b54;
}
.content__project img {
  margin: 2rem 0;
  max-width: 100%;
  border-radius: 0.5rem;
  height: auto;
}
.content__project p {
  margin: 1rem 0;
}
.content__project span {
  color: #385d79;
}
.content__project h3 {
  place-self: center;
}
.content__skills {
  color: #5b5c5e;
  margin: 2.5rem 0;
  font-size: 1.5rem;
  font-weight: 700;
  display: grid;
  gap: 2.2rem;
}
.content__certs {
  margin-top: 2rem;
  color: #5b5c5e;
  display: grid;
  gap: 2rem;
}
.content__certs p {
  padding-left: 2rem;
}
.content__certs h3 {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}
.content__certs svg {
  height: 1.5rem;
}
.content__certs i {
  font-size: 1.5rem;
}
.content h1,
.content h2,
.content h3 {
  color: #dbd4ca;
}
.content p {
  color: #7e8082;
  font-size: 1.6rem;
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #dbd4ca;
  width: 100vw;
  min-width: 36rem;
  overflow-x: hidden;
  background-color: #17191c;
}

.wrapper {
  max-width: 160rem;
  margin: auto;
}

h1 {
  font-size: 5rem;
}
@media (max-width: 750px) {
  h1 {
    font-size: 4rem;
  }
}

h2 {
  font-size: 3.5rem;
}
@media (max-width: 750px) {
  h2 {
    font-size: 3rem;
  }
}

h3 {
  font-size: 2.7rem;
}

p {
  font-size: 1.7rem;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

hr {
  margin: 1rem 0;
  color: inherit;
  background-color: white;
  opacity: 0.25;
}/*# sourceMappingURL=styles.css.map */