.hero {
  display: grid;
  grid-template-columns: 2fr 3fr;
  height: 80rem;
}
.hero h1 {
  margin-top: 14rem;
  color: #dbd4ca;
}
.hero h2 {
  color: #5b5c5e;
}
.hero p {
  margin-top: 5rem;
  color: #7e8082;
}
.hero__black {
  background-color: #1a1b1d;
  position: relative;
  padding: 0 15%;
}
.hero__black--decoration {
  position: absolute;
  right: 0;
  width: 4rem;
  height: 22rem;
  border-radius: 0 0 0 6rem;
  background-color: #dbd4ca;
}
.hero__white {
  position: relative;
  display: grid;
  place-items: center;
  background-position: 30% 60%;
}
.hero__white img {
  position: absolute;
  height: 100vh;
}
.hero__white--gradient {
  place-self: end;
  height: 5rem;
  width: 100%;
  background-color: #1a1b1d;
  background: linear-gradient(0deg, #1a1b1d 50%, rgba(0, 212, 255, 0) 100%);
}
.hero__white--engineer {
  animation: 1000ms pageLoad--right ease-out;
}
.hero__white--pc {
  animation: 800ms pageLoad--up ease-in;
}
.hero__social {
  margin-top: 4rem;
  list-style-type: none;
  display: flex;
  grid-auto-flow: column;
  font-size: 3rem;
  place-items: start;
  gap: 2rem;
}
.hero__social li {
  background-color: #5b5c5e;
  width: 4rem;
  height: 4rem;
  border-radius: 5rem;
  text-align: center;
  color: #1a1b1d;
}
.hero__social li:hover {
  color: #323438;
}

@keyframes pageLoad--right {
  0% {
    visibility: hidden;
    opacity: 0;
    transform: translateX(-60px);
  }
  100% {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes pageLoad--up {
  0% {
    visibility: hidden;
    opacity: 0;
    transform: translateY(20px);
  }
  60% {
    visibility: visible;
    opacity: 1;
    transform: translateY(-20px);
  }
  70% {
    visibility: visible;
    opacity: 1;
    transform: translateY(-20px);
  }
  100% {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}
.navbar {
  position: absolute;
  padding: 2.5% 6%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 4rem;
  width: 100%;
  z-index: 1;
}
.navbar__logo {
  display: flex;
  gap: 1rem;
}
.navbar__logo--image {
  width: 3.5rem;
  height: 3.5rem;
  background-color: #dbd4ca;
  border-radius: 50%;
}
.navbar h3 {
  color: #dbd4ca;
  place-self: center;
  padding-left: 0;
}
.navbar__btn {
  justify-self: end;
  background-color: #1a1b1d;
  color: #dbd4ca;
  border-radius: 2rem;
  min-width: 12rem;
  border: none;
  cursor: pointer;
}
.navbar__btn:hover {
  background-color: #4a4d53;
}

.content {
  background-color: #1a1b1d;
  padding-top: 5rem;
}
.content__main {
  display: grid;
  gap: 3rem;
  grid-template-columns: 2fr 3.2fr 3.2fr;
  padding: 1% 6% 5%;
}
.content__card {
  height: 40rem;
  border-radius: 3rem;
  border: 2px solid rgb(104, 104, 104);
}
.content__info {
  background-color: #dbd4ca;
  border-radius: 3rem;
  height: 100%;
  width: 100%;
  transform: translate(5%, -5%);
}
.content__info:hover {
  transform: translate(0%, 0%);
  transition: all 0.5s;
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #dbd4ca;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3.5rem;
}

p {
  font-size: 1.7rem;
}/*# sourceMappingURL=styles.css.map */